@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container-hydra-desktop {
  max-width: 1440px;
  margin: 0 auto;
  background: #302c42;
  padding: 50px 84px;
}

.hydra-desktop {
  max-width: 1275px;
  background: #302c42;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
header nav ul {
  display: flex;
  gap: 42px;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header nav .btns-nav {
  display: flex;
  gap: 38px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header nav .btns-nav .btns-contact {
  width: 100%;
  max-width: 154px;
  height: 48px;
  flex-shrink: 0;
  color: #fff;
  border-radius: 40px;
  border: 2px solid #fff;
  padding: 17px 34px;
  user-select: none;
  cursor: pointer;
}
header nav .btns-nav .btns-hydra {
  width: 100%;
  max-width: 155px;
  height: 48px;
  border-radius: 40px;
  padding: 17px 37px 16px 38px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  flex-shrink: 0;
  color: #343045;
}
header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-content .left-header-text .dive-into-text {
  display: block;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header .header-content .left-header-text .dive-into-text .text-top span {
  background: linear-gradient(92deg, #c0b7e8 -1.02%, #8176af 36.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .header-content .left-header-text .dive-into-text .text-bottom span {
  background: linear-gradient(269deg, #c0b7e8 -3.72%, #8176af 82.17%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .header-content .left-header-text .text {
  padding-top: 36px;
  width: 100%;
  max-width: 450px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .header-content .left-header-text .btn-world {
  display: flex;
  align-items: center;
  padding-top: 66px;
}
header .header-content .left-header-text .btn-world .btn-build-your-world {
  max-width: 214px;
  height: 48px;
  padding: 17px 43px 16px 38px;
  flex-shrink: 0;
  border-radius: 40px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  color: #343045;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  user-select: none;
}
header .header-content .left-header-text .btn-world svg {
  cursor: pointer;
}
header .header-content .right-header-block {
  position: relative;
  width: 524px;
  height: 455px;
  background: rgba(0, 0, 0, 0.13);
  border-radius: 100px 100px 100px 240px;
}
header .header-content .right-header-block img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px 100px 100px 240px;
}
header .header-bottom-contact {
  margin-top: 88px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  line-height: normal;
  border-radius: 90px;
  background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211e2e 100%);
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
}
header .header-bottom-contact .contact-item {
  display: flex;
  align-items: center;
  padding: 30px 0px;
}
header .header-bottom-contact .contact-item .text .text__top {
  font-size: 24px;
  padding-bottom: 10px;
}
header .header-bottom-contact .first-item {
  padding-left: 39px;
}
header .header-bottom-contact .middle-item .text {
  padding-left: 29px;
}
header .header-bottom-contact .last-item {
  padding-right: 80px;
}
header .header-bottom-contact .last-item .text {
  padding-left: 23px;
}
header .header-bottom-contact .line-left {
  margin-top: 26px;
  margin-bottom: 24px;
  width: 1px;
  height: 116.5px;
  flex-shrink: 0;
  stroke-width: 1px;
  background: rgba(192, 183, 232, 0.33);
}
header .header-bottom-contact .line-right {
  margin-top: 26px;
  margin-bottom: 24px;
  width: 1px;
  height: 116.5px;
  flex-shrink: 0;
  stroke-width: 1px;
  background: rgba(192, 183, 232, 0.33);
}

.services-section {
  padding-top: 120px;
}
.services-section .services-section__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services-section .services-section__text .hydra-text {
  color: #fff;
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-size: 36px;
}
.services-section .services-section__text .hydra-text .hydra-text__build {
  font-weight: 700;
}
.services-section .services-section__text .hydra-text .hydra-text__content {
  display: flex;
  align-items: center;
  gap: 16px;
}
.services-section .services-section__text .hydra-text .hydra-text__content .hydra-text__question {
  display: flex;
  font-weight: 300;
}
.services-section .services-section__text .text-right {
  max-width: 652px;
  color: #fff;
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
}
.services-section .services-section__text .text-right .text {
  font-size: 16px;
  font-weight: 400;
}
.services-section .services-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 107px;
}
.services-section .services-list__block {
  width: 310px;
  height: 511px;
  flex-shrink: 0;
  border-radius: 40px;
  background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
}
.services-section .services-list__icon {
  margin: 0 auto;
  margin-top: 23px;
  width: 219px;
  height: 219px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.13);
  border-radius: 100%;
  position: relative;
}
.services-section .services-list__icon .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: url(<path-to-image>) lightgray 50%/cover no-repeat;
}
.services-section .services-list__title {
  display: flex;
  justify-content: center;
  padding-top: 21px;
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.services-section .services-list__text {
  padding-left: 25px;
  padding-top: 21.5px;
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.services-section .services-list__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 154px;
  height: 48px;
  flex-shrink: 0;
  margin: 51px 78px 40px 78px;
  margin-bottom: 51px;
  border-radius: 40px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  color: #343045;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  user-select: none;
  cursor: pointer;
}
.prodaction {
  padding-top: 111px;
}
.prodaction .prodaction-image-tech {
  position: relative;
  border-radius: 150px;
}
.prodaction .prodaction-image-tech .image-tech {
  position: relative;
  width: 100%;
  border-radius: 150px;
  z-index: 1;
}
.prodaction .prodaction-image-tech .prod-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-family: Montserrat;
  font-style: normal;
  font-size: 36px;
  line-height: normal;
  bottom: 0;
  z-index: 2;
}
.prodaction .prodaction-image-tech .prod-text .text-tech {
  font-weight: 700;
}
.prodaction .prodaction-image-tech .prod-text .text-hydra {
  font-weight: 300;
}
.prodaction .prodaction-image-tech .outline {
  position: absolute;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 100%;
  bottom: -45px;
  background: rgba(14, 14, 14, 0.32);
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.prodaction .prodaction-image-tech .outline .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #c0b7e8;
  z-index: 4;
}
.prodaction .prodaction-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  border-radius: 100px;
  background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.form .title {
  padding-top: 90px;
  text-align: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  line-height: normal;
}
.form .title .form-title {
  font-weight: 700;
}
.form .title svg {
  margin-top: 30px;
}
.form .title .form-title-bottom {
  padding-top: 21px;
  font-weight: 300;
}
.form .form-hydra {
  padding: 65px 110px 183px 107px;
}
.form .form-hydra .name-text {
  display: flex;
  gap: 10px;
}
.form .form-hydra .name-text input {
  width: 50%;
  height: 72px;
  flex-shrink: 0;
  padding: 27px 0 28px 42px;
  border-radius: 40px;
  border: 2px solid #fff;
  background-color: none;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  color: #fff;
}
.form .form-hydra .adress {
  display: flex;
  gap: 10px;
  padding-top: 39px;
}
.form .form-hydra .adress input {
  width: 50%;
  height: 72px;
  flex-shrink: 0;
  padding: 27px 0 28px 42px;
  border-radius: 40px;
  border: 2px solid #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  color: #fff;
}
.form .form-hydra .subject-input {
  width: 100%;
  padding: 27px 0 28px 42px;
  margin-top: 33px;
  background-color: transparent;
  border: 2px solid #fff;
  font-family: Montserrat;
  border-radius: 40px;
  color: #fff;
}
.form .form-hydra .message-area {
  width: 100%;
  padding: 27px 0 166px 42px;
  display: block;
  border: 2px solid #fff;
  background-color: transparent;
  margin-top: 33px;
  font-family: Montserrat;
  border-radius: 40px;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
